body 	{ 
		background-color: green; 
		
} 

ul 		{ 
		text-align: center; 
		
	} 
	
		li 	{ 
			font-family: 'Acme', sans-serif;
			font-size: 30px; 
			color: #4169E1; 
			display: inline-block; 
			padding: 30px; 
			
		}
		
h1 { 
	text-align: center; 
		color: white; 
		font-family: 'Anton', sans-serif;
		font-size: 200 px;
		letter-spacing: 5px;
		
} 

* { 
box-sizing: border-box; 
} 

h2 { 
	text-align: center; 
	font-family: 'Chelsea Market', cursive;
	color: white;
	letter-spacing: 5px;
	-webkit-text-stroke: 2px #228B22;
	font-size: 30px; 
} 

.contactForm	{ 
	background-color: black; 
	margin-left: 450px; 
	margin-top: 60px;
	margin-bottom:: 30px; 
		width: 700px;
}



.footer { 
 position: fixed; 
left: 0; 
bottom: 0; 
width: 100%; 
height: 70px;
background-color: black; 
color: white; 
text-align: center; 
} 

.row { 
	display: flex; 
	float; right; 
} 

.column { 
	flex: 33.33%; 
	padding: 5px;
} 
